// 通用css
.c-position-relative {
  position: relative;
}
.c-position-absolute {
  position: absolute;
}

.c-display-none {
  display: none;
}
.c-display-inline {
  display: inline;
}
.c-display-inline-block {
  display: inline-block;
}

.c-flex {
  display: flex !important;
}

.c-flex-1 {
  flex: 1;
}
.c-flex-2 {
  flex: 2;
}
.c-shrink-0 {
  flex-shrink: 0;
}

.c-flex-center {
  justify-content: center !important;
  align-items: center !important;
}

.c-flex-wrap {
  flex-wrap: wrap !important;
}

.c-flex-items-start {
  align-items: flex-start !important;
}

.c-flex-items-center {
  align-items: center !important;
}

.c-flex-items-end {
  align-items: flex-end !important;
}

.c-flex-content-between {
  align-content: space-between !important;
}
.c-flex-content-center {
  align-content: center !important;
}

.c-flex-self-center {
  align-self: center !important;
}

.c-flex-direction-column {
  flex-direction: column !important;
}

.c-flex-justify-end {
  justify-content: flex-end !important;
}

.c-flex-justify-around {
  justify-content: space-around;
}

.c-flex-justify-between {
  justify-content: space-between !important;
}

.c-flex-justify-center {
  justify-content: center !important;
}

// inline-block
.c-inline-block {
  display: inline-block;
}

.c-margin-center {
  margin: 0 auto;
}

// grid 功能
.c-grid {
  display: grid;
}

.c-grid-auto-rows {
  grid-auto-rows: auto;
}

.c-grid-row-2-fr {
  grid-template-columns: repeat(2, 1fr);
}
.c-grid-row-4-fr {
  grid-template-columns: repeat(4, 1fr);
}

.c-grid-row-5-fr {
  grid-template-columns: repeat(5, 1fr);
}

.c-grid-row-7-fr {
  grid-template-columns: repeat(7, 1fr);
}

.c-grid-row-9-fr {
  grid-template-columns: repeat(9, 1fr);
}

.c-grid-auto-flow-row {
  grid-auto-flow: row;
}

.c-grid-gap-10 {
  grid-gap: 10px;
}

.c-grid-gap-12 {
  grid-gap: 12px;
}

.c-grid-gap-20 {
  grid-gap: 20px;
}

.c-grid-gap-40 {
  grid-gap: 40px;
}

.c-grid-gap-60 {
  grid-gap: 60px;
}

.c-grid-gap-70 {
  grid-gap: 70px;
}

.c-grid-gap-10-20 {
  grid-gap: 10px 20px;
}

.c-grid-gap-20-40 {
  grid-gap: 20px 40px;
}

.c-grid-gap-40-60 {
  grid-gap: 40px 60px;
}

.c-grid-gap-30-60 {
  grid-gap: 30px 60px;
}

//* font-family相关
.c-font-family {
  font-family: "Bahnschrift Condensed", "Bahnschrift", sans-serif;
}
.c-font-family-currency {
  //货币格式字体
  font-family: "Bahnschrift", sans-serif;
}
.c-font-family-wryh {
  //微软雅黑
  font-family: "微软雅黑 Bold", "微软雅黑 Regular", "微软雅黑", sans-serif;
}
.c-font-family-hyzyt {
  // 汉仪综艺体简
  font-family: "汉仪综艺体简 Bold Oblique", "汉仪综艺体简 Bold", "汉仪综艺体简 regular", "汉仪综艺体简", sans-serif;
}

//* font-style相关
.c-font-style-oblique {
  font-style: oblique;
}

//* overflow相关
.c-overflow-hidden {
  overflow: hidden;
}
.c-overflow-auto {
  overflow: auto;
  &::-webkit-scrollbar {
    display: none; /* Chrome Safari */
  }
}

//* text-align相关
.c-text-align-center {
  text-align: center;
}
.c-text-align-right {
  text-align: right;
}

//* cursor相关
.c-cursor-pointer {
  cursor: pointer; //* 鼠标可选中样式
}

//* transform
.c-transform-rotate-90 {
  transform: rotate(90deg);
}
.c-transform-rotate-180 {
  transform: rotate(180deg);
}

//* text-overflow
.c-text-overflow-nowrap-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-opacity-20 {
  opacity: 0.2;
}
.c-opacity-40 {
  opacity: 0.4;
}
.c-opacity-50 {
  opacity: 0.5;
}
.c-opacity-80 {
  opacity: 0.8;
}

.c-box-sizing {
  box-sizing: border-box;
}
.c-vertical-align {
  vertical-align: middle;
}
